<div [formGroup]="rangeForm" class="date-time-range">
  <div class="date-time-row">
    <mat-form-field appearance="fill" class="date-field">
      <mat-label>Von (Datum)</mat-label>
      <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" [min]="minDate" />
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
      <mat-error *ngIf="rangeForm.errors?.['dateTooEarly'] && rangeForm.dirty">
        Daten sind ab 01.01.2025 verfügbar.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="time-field">
      <mat-label>Uhrzeit</mat-label>
      <input matInput type="time" formControlName="fromTime" />
    </mat-form-field>
  </div>

  <div class="date-time-row">
    <mat-form-field appearance="fill" class="date-field">
      <mat-label>Bis (Datum)</mat-label>
      <input matInput [matDatepicker]="toPicker" formControlName="toDate" />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="time-field">
      <mat-label>Uhrzeit</mat-label>
      <input matInput type="time" formControlName="toTime" />
    </mat-form-field>
  </div>

  <!--  <div class="quick-buttons">-->
  <!--    <button mat-stroked-button type="button" (click)="setLastWeek()" class="quick-select-btn">-->
  <!--      <i class="fas fa-calendar-week"></i>-->
  <!--      Letzte Woche-->
  <!--    </button>-->
  <!--    <button mat-stroked-button type="button" (click)="setLastMonth()" class="quick-select-btn">-->
  <!--      <i class="fas fa-calendar-alt"></i>-->
  <!--      Letzte Monate-->
  <!--    </button>-->
  <!--    <button mat-stroked-button type="button" (click)="setLast90Days()" class="quick-select-btn">-->
  <!--      <i class="fas fa-calendar-plus"></i>-->
  <!--      Letzte 90 Tage-->
  <!--    </button>-->
  <!--  </div>-->
  <mat-error *ngIf="rangeForm.errors?.['required'] && rangeForm.dirty">
    Bitte komplettes Zeitintervall auswählen.
  </mat-error>
  <mat-error *ngIf="rangeForm.errors?.['rangeInvalid'] && rangeForm.dirty">
    „Von“ darf nicht nach „Bis“ liegen.
  </mat-error>
</div>
