<div class="home-container">
  <header class="header">
    <h1>The Nexus Project</h1>
    <p>Real-time Sensor Measurements</p>
  </header>
  <mat-grid-list cols="3" gutterSize="16px" rowHeight="fit">
    <div class="home-container">
      <mat-card class="cards-container" *ngFor="let group of measurementsByLocation | keyvalue">
        <h2>{{ group.key }}</h2>
        <div *ngFor="let measurement of group.value">
          <p>
            {{ measurement.name }} - {{ measurement.latestData?.timestamp }} -
            {{ measurement.latestData?.value }}
          </p>
        </div>
      </mat-card>
    </div>
  </mat-grid-list>
</div>
