.controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.mat-form-field {
  min-width: 220px;
}

.draggable {
  margin-top: 1rem;
  display: inline-block;
}

.table-card {
  position: relative;
  overflow: visible;
  padding-top: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.remove-btn {
  position: absolute;
  top: 2px;
  right: 0.5rem;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 4px;
  background-color: #bcbcbc;
}
.remove-txt {
  font-size: 15px;
  top: -6px;
  left: -11px;
}
