<div class="container mt-4">
  <h2>Points of {{ chosenMeasurement }} ({{ countDataPoints }})</h2>

  <div *ngIf="dataPoints.length > 0">
    <table datatable class="row-border hover table table-striped">
      <thead>
        <tr>
          <th>Sensor Name</th>
          <th>Value</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let point of dataPoints">
          <td>{{ point.sensorName }}</td>
          <td>{{ point.value }}</td>
          <td>{{ point.timestamp | date: 'medium' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-controls d-flex justify-content-center align-items-center mt-3">
      <button class="btn btn-primary me-2" (click)="onPageChange(1)" [disabled]="currentPage === 1">
        First
      </button>
      <button
        class="btn btn-primary me-2"
        (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <span class="pagination-text mx-2"
        >Page <strong>{{ currentPage }}</strong> of
        <strong>{{ roundDown(countDataPoints / pageSize) + 1 }}</strong></span
      >
      <button
        class="btn btn-primary ms-2"
        (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage === roundDown(countDataPoints / pageSize)"
      >
        Next
      </button>
      <button
        class="btn btn-primary ms-2"
        (click)="onPageChange(roundDown(countDataPoints / pageSize))"
        [disabled]="currentPage === roundDown(countDataPoints / pageSize)"
      >
        Last
      </button>
    </div>
  </div>

  <div class="mt-4">
    <h3>Debug Info</h3>
    <p>Number of records: {{ dataPoints.length }}</p>
    <details>
      <summary>Raw data (click to expand)</summary>
      <pre>{{ dataPoints | json }}</pre>
    </details>
  </div>
</div>
