<div class="sensor-container">
  <h1 class="sensor_headline">
    <i class="fas fa-table"></i>
    Tabellarische Ansicht
  </h1>

  <div class="config-section">
    <div class="stat-card">
      <form [formGroup]="timeForm">
        <app-sensor-dropdown
          [selectedOption]="selectedOption"
          (selectionChange)="onSelectionChange($event)"
        >
        </app-sensor-dropdown>

        <div *ngIf="selectedOption" class="controls">
          <app-date-time-picker formControlName="dateTimeRange"></app-date-time-picker>

          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="loadDetailedMeasurement()"
          >
            <i class="fas fa-plus"></i> Neue Tabelle hinzufügen
          </button>
          <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
        </div>
      </form>
    </div>

    <div *ngIf="selectedOption" class="stat-card quick-buttons-card">
      <h3>Chart-Hinzufügen Schnellwahl</h3>
      <div class="quick-buttons">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="applyQuick(QuickRangeKey.LAST_WEEK)"
          class="quick-select-btn"
        >
          <i class="fas fa-calendar-week"></i>
          Letzte Woche
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="applyQuick(QuickRangeKey.LAST_MONTH)"
          class="quick-select-btn"
        >
          <i class="fas fa-calendar-alt"></i>
          Letztes Monat
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="applyQuick(QuickRangeKey.LAST_90_DAYS)"
          class="quick-select-btn"
        >
          <i class="fas fa-calendar-plus"></i>
          Letze 90 Tage
        </button>
      </div>
    </div>
  </div>

  <div class="tables-grid">
    <div *ngFor="let table of savedTables" cdkDrag class="stat-card table-card">
      <app-measurement-table [table]="table" (remove)="removeTable($event)"></app-measurement-table>
    </div>
  </div>
</div>
