<mat-card>
  <mat-card-title>
    Die erstellten Tabellen lassen sich mit der Maus verschieben. Zum Schließen bitte auf das „×“
    oben rechts in der Tabelle klicken.
  </mat-card-title>
  <mat-card-content>
    <app-sensor-dropdown
      [selectedOption]="selectedOption"
      (selectionChange)="onSelectionChange($event)"
    >
    </app-sensor-dropdown>

    <div *ngIf="selectedOption" class="controls">
      <form [formGroup]="timeForm">
        <app-date-time-picker formControlName="dateTimeRange"></app-date-time-picker>

        <button mat-raised-button color="primary" type="button" (click)="loadDetailedMeasurement()">
          Neue Tabelle hinzufügen
        </button>
      </form>
      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </div>
  </mat-card-content>
</mat-card>
<!-- Gespeicherte Tabellen, draggable -->
<div *ngFor="let table of savedTables" class="draggable" cdkDrag>
  <app-measurement-table [table]="table" (remove)="removeTable($event)"></app-measurement-table>
</div>
