<div class="page-container">
  <h1 class="sensor_headline">
    <i class="fas fa-chart-line"></i>
    Diagramm Analyse
  </h1>

  <div class="config-section" [formGroup]="timeForm">
    <div class="config-stack">
      <div *ngFor="let cfg of configs; let i = index" class="stat-card">
        <app-chart-config-row [config]="cfg" (configChange)="onConfigChange(i, $event)">
        </app-chart-config-row>
      </div>
    </div>
    <div class="date-controls-container">
      <div class="stat-card datepicker-card">
        <app-date-time-picker formControlName="dateTimeRange"></app-date-time-picker>

        <button mat-raised-button color="primary" (click)="loadCharts()">
          <i class="fas fa-plus"></i> Neue Charts hinzufügen
        </button>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </div>

      <div class="stat-card quick-buttons-card">
        <h3>Chart-Hinzufügen Schnellwahl</h3>
        <div class="quick-buttons">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="applyQuick(QuickRangeKey.LAST_WEEK)"
            class="quick-select-btn"
          >
            <i class="fas fa-calendar-week"></i>
            Letzte Woche
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="applyQuick(QuickRangeKey.LAST_MONTH)"
            class="quick-select-btn"
          >
            <i class="fas fa-calendar-alt"></i>
            Letzter Monat
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="applyQuick(QuickRangeKey.LAST_90_DAYS)"
            class="quick-select-btn"
          >
            <i class="fas fa-calendar-plus"></i>
            Letzte 90 Tage
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="charts-section">
    <div class="charts-grid">
      <div
        *ngFor="let chart of savedCharts"
        cdkDrag
        class="chart-card resizable"
        cdkDragBoundary=".charts-grid"
      >
        <app-chart-panel [config]="chart" (remove)="removeChart($event)"></app-chart-panel>
        <div class="resize-handle bottom-right" cdkDragHandle></div>
      </div>
    </div>
  </div>
</div>
