#nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

#nav-bar a.mat-tab-link.mat-tab-label-active {
  background-color: #808080;
  color: darkgrey !important;
  font-size: 28px !important;
}

.custom-button {
  border-radius: 0.375rem;
  background-color: #0c7d9d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease-in-out;
  color: #ffffff;
  font-size: 28px;
}



