.chart-card {
  position: absolute;
  margin-top: 1rem;
  background: #fff;
  width: 50%;
}

.remove-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.remove-txt {
  font-size: 20px;
  top: -6px;
  // left: -11px;
}
