:host {
  display: block;
  height: 100%;
}

.chart-card {
  position: absolute;
  margin-top: 1rem;
  background: #fff;
  width: 97%;
  height: auto;
}

.remove-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.remove-txt {
  font-size: 20px;
  top: -6px;
}
.mat-card-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-container {
  flex: 1;
  position: relative;
  width: 100%;
}
