<ng-container *ngIf="stats; else noData">
  <mat-list>
    <mat-list-item>Durchschnitt: {{ stats.mean | number: '1.2-2' }}</mat-list-item>
    <mat-list-item>Min: {{ stats.min | number: '1.2-2' }}</mat-list-item>
    <mat-list-item>Max: {{ stats.max | number: '1.2-2' }}</mat-list-item>
    <mat-list-item>StdAbw: {{ stats.stdDev | number: '1.2-2' }}</mat-list-item>
    <mat-list-item>Trend: {{ stats.trend | number: '1.2-2' }}</mat-list-item>
  </mat-list>
</ng-container>
<ng-template #noData>
  <p>Keine Daten verfügbar.</p>
</ng-template>
